<!doctype html>
<!--

|
|             *         *
|                  .                .
|           .
|     *                      ,
|                   .
|
|                               *
|          |\___/|
|          )    -(             .              '
|         =\  -  /=
|           )===(       *
|          /   - \
|          |-    |
|         /   -   \     0.|.0
|  NASY___\__( (__/_____(\=/)__+1s____________
|  ______|____) )______|______|______|______|_
|  ___|______( (____|______|______|______|____
|  ______|____\_|______|______|______|______|_
|  ___|______|______|______|______|______|____
|  ______|______|______|______|______|______|_
|  ___|______|______|______|______|______|____

Author   : Nasy
Date     : Apr 4, 2019
Email    : nasyxx+nasymoe@gmail.com
Filename : index.html
License  : GPL-3

There are more things in heaven and earth, Horatio, than are dreamt.
  From "Hamlet"
-->
<html encoding="utf-8"
      charset="utf-8"
      lang="zh-CN"
      language="Chinese"
      prefix="og: http://ogp.me/ns#">
  <head>

    <meta name="language"  content="Chinese" />
    <meta name="copyright" content="2019 Nasy" />

    <title>$title$</title>

    <meta name="author" content="Nasy" />
    <meta name="owner"  content="Nasy">

    <meta name="og:site_name" content="Nasy Land" />
    <meta name="og:title" content="$title$" />
    <meta name="og:url" content="https://nasy.moe" />
    <meta name="og:description" content="Nasy 的花园，栽花养鱼闲聊的地方～" />
    <meta name="og:image" content="https://nasy.moe/images/icon.png" />
    <meta name="og:type" content="blog" />

    <meta http-equiv="Cache-Control"
          content="public,max-age=1800,max-stale,stale-while-revalidate=86400,stale-if-error=259200"
          rem="max-age=30minutes"/>
    <meta name="viewport"
          content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="HandheldFriendly"
          content="True"/>
    <meta name="MSThemeCompatible"
          content="no"/>
    <meta name="apple-mobile-web-app-capable"
          content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style"
          content="translucent black"/>
    <meta name="msapplication-navbutton-color"
          content="translucent black"/>
    <meta name="mssmarttagspreventparsing"
          content="true"/>
    <meta name="theme-color"
          content="#b1cff4"/>
    <meta http-equiv="Page-Enter"
          content="RevealTrans(Duration=1.0,Transition=1)"/>
    <meta http-equiv="Page-Exit"
          content="RevealTrans(Duration=1.0,Transition=1)"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102577027-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-102577027-1');
    </script>

    <script src="//instant.page/1.1.0"
            type="module"
            integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp">
    </script>

  </head>
  <body>
    <header id="header" class="header">
      <h1>Nasy Land</h1>
    </header>
    <main id="main" class="main">
      $body$
    </main>
    <footer>
      $partial("templates/partials/nav.html")$
    </footer>
  </body>
</html>
